**Titanic - Machine Learning from Disaster**

In [46]:
import pandas as pd
import numpy as np
traindata = pd.read_csv('train.csv')
testdata = pd.read_csv('test.csv')
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [47]:
traindata.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [48]:
traindata['Age'] = traindata['Age'].fillna(traindata['Age'].median())

In [49]:
traindata['Embarked'] = traindata['Embarked'].fillna(traindata['Embarked'].mode()[0])

In [50]:
traindata.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [51]:
traindata['Sex']=traindata['Sex'].map({'male':0, 'female':1})

In [52]:
traindata.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [53]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(handle_unknown='ignore')

enc.fit(traindata[['Embarked']])

encoded_embarked = enc.transform(traindata[['Embarked']]).toarray()

encoded_df = pd.DataFrame(encoded_embarked, columns=enc.get_feature_names_out(['Embarked']))

traindata = pd.concat([traindata, encoded_df], axis=1)

traindata.drop('Embarked', axis=1, inplace=True)

traindata.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0.0,0.0,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1.0,0.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0,0.0,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0.0,0.0,1.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0.0,0.0,1.0

In [54]:
x=traindata[['Pclass', 'Sex', 'Age', 'Embarked_C','Embarked_Q','Embarked_S']]
y=traindata['Survived']

In [55]:
print(traindata.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked_C     float64
Embarked_Q     float64
Embarked_S     float64
dtype: object

In [56]:
x

     Pclass  Sex   Age  Embarked_C  Embarked_Q  Embarked_S
0         3    0  22.0         0.0         0.0         1.0
1         1    1  38.0         1.0         0.0         0.0
2         3    1  26.0         0.0         0.0         1.0
3         1    1  35.0         0.0         0.0         1.0
4         3    0  35.0         0.0         0.0         1.0
..      ...  ...   ...         ...         ...         ...
886       2    0  27.0         0.0         0.0         1.0
887       1    1  19.0         0.0         0.0         1.0
888       3    1  28.0         0.0         0.0         1.0
889       1    0  26.0         1.0         0.0         0.0
890       3    0  32.0         0.0         1.0         0.0

[891 rows x 6 columns]

In [57]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [58]:
x.isnull().sum()

Pclass        0
Sex           0
Age           0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [59]:
y.isnull().sum()

np.int64(0)

In [60]:
x

     Pclass  Sex   Age  Embarked_C  Embarked_Q  Embarked_S
0         3    0  22.0         0.0         0.0         1.0
1         1    1  38.0         1.0         0.0         0.0
2         3    1  26.0         0.0         0.0         1.0
3         1    1  35.0         0.0         0.0         1.0
4         3    0  35.0         0.0         0.0         1.0
..      ...  ...   ...         ...         ...         ...
886       2    0  27.0         0.0         0.0         1.0
887       1    1  19.0         0.0         0.0         1.0
888       3    1  28.0         0.0         0.0         1.0
889       1    0  26.0         1.0         0.0         0.0
890       3    0  32.0         0.0         1.0         0.0

[891 rows x 6 columns]

In [61]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()
model.fit(x, y)

LogisticRegression()

In [62]:
testdata=pd.read_csv('test.csv')

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=42)


model_re_trained = LogisticRegression(solver='liblinear')
model_re_trained.fit(X_train, y_train)

y_pred = model_re_trained.predict(X_val)

accuracy = accuracy_score(y_val, y_pred)
print(f"Accuracy on the validation set: {accuracy:.4f}")

Accuracy on the validation set: 0.7989

In [64]:
from sklearn.ensemble import RandomForestClassifier

random_forest_model = RandomForestClassifier(random_state=42)
random_forest_model.fit(X_train, y_train)

y_pred_rf = random_forest_model.predict(X_val)

accuracy_rf = accuracy_score(y_val, y_pred_rf)
print(f"Accuracy on the validation set (Random Forest): {accuracy_rf:.4f}")

Accuracy on the validation set (Random Forest): 0.7598

In [66]:

predictions_lr = model_re_trained.predict(x_test)

submission = pd.DataFrame({
    "PassengerId": testdata_processed["PassengerId"],
    "Survived": predictions_lr
})

submission.to_csv('submission_logistic_regression.csv', index=False)

print("Submission file 'submission_logistic_regression.csv' created successfully!")

Submission file 'submission_logistic_regression.csv' created successfully!